In [1]:
# import dependicies
import pandas as pd

In [2]:
Honey_3 = "Resources/honey_2015/hony_p03_t003.csv"

In [3]:
Version_3 = pd.read_csv(Honey_3, skiprows=9, header=None, names =['aaa', 'bbb','State', 'Number of Colonies', 'Yield Per Colony (1,000 lbs)', 'Production (1,000 lbs)', 'Stocks', 'Price', 'Value'])

In [4]:
Honey_3_df = Version_3[["State", "Yield Per Colony (1,000 lbs)", "Production (1,000 lbs)"]]
Honey_3_df.head(10)

        State  Yield Per Colony (1,000 lbs)  Production (1,000 lbs)
0     Alabama                          47.0                   329.0
1     Arizona                          49.0                  1274.0
2    Arkansas                          72.0                  1728.0
3  California                          30.0                  8250.0
4    Colorado                          51.0                  1479.0
5     Florida                          54.0                 11880.0
6     Georgia                          40.0                  2760.0
7      Hawaii                         102.0                  1428.0
8       Idaho                          32.0                  2848.0
9    Illinois                          51.0                   408.0

In [5]:
Honey_3_df

,State,"Yield Per Colony (1,000 lbs)","Production (1,000 lbs)"
0,Alabama,47.0,329.0
1,Arizona,49.0,1274.0
2,Arkansas,72.0,1728.0
3,California,30.0,8250.0
4,Colorado,51.0,1479.0
5,Florida,54.0,11880.0
6,Georgia,40.0,2760.0
7,Hawaii,102.0,1428.0
8,Idaho,32.0,2848.0
9,Illinois,51.0,408.0
10,NaN,NaN,NaN
11,Indiana,53.0,318.0
12,Iowa,50.0,1800.0
13,Kansas,36.0,288.0
14,Kentucky,46.0,230.0
15,Louisiana,99.0,4356.0
16,Maine,47.0,470.0
17,Michigan,58.0,5220.0
18,Minnesota,68.0,8296.0
19,Mississippi,83.0,1245.0
20,Missouri,52.0,520.0
21,NaN,NaN,NaN
22,Montana,83.0,12118.0
23,Nebraska,48.0,2736.0
24,New Jersey,27.0,324.0
25,New York,62.0,3596.0
26,North Carolina,45.0,540.0
27,North Dakota,74.0,36260.0
28,Ohio,50.0,850.0
29,Oregon,38.0,2698.0
30,Pennsylvania,53.0,901.0
31,South Carolina,67.0,938.0
32,NaN,NaN,NaN
33,South Dakota,66.0,19140.0
34,Tennessee,59.0,413.0
35,Texas,66.0,8316.0
36,Utah,42.0,1134.0
37,Vermont,52.0,260.0
38,Virginia,38.0,228.0
39,Washington,44.0,3212.0
40,West Virginia,35.0,175.0
41,Wisconsin,67.0,3484.0
42,Wyoming,77.0,2926.0
43,NaN,NaN,NaN
44,Other States 5/ 6/,39.0,1168.0
45,NaN,NaN,NaN
46,United States 6/ 7/,58.9,156544.0
47,NaN,NaN,NaN
48,1/ Honey producing colonies are the maximum nu...,NaN,NaN
49,2/ Stocks held by producers.,NaN,NaN
50,3/ Average price per pound based on expanded s...,NaN,NaN
51,4/ Value of production is equal to production ...,NaN,NaN
52,"5/ Alaska, Connecticut, Delaware, Maryland, Ma...",NaN,NaN
53,"6/ Due to rounding, total colonies multiplied ...",NaN,NaN
54,7/ United States value of production will not ...,NaN,NaN

In [6]:
state = Honey_3_df["State"]
Yield = Honey_3_df["Yield Per Colony (1,000 lbs)"]
Production  = Honey_3_df["Production (1,000 lbs)"]
Honey_3_2015 = pd.DataFrame({"State":state, "Yield Per Colony (1,000 lbs)": Yield, "Production (1,000 lbs)": Production})
Honey_3_2015

,State,"Yield Per Colony (1,000 lbs)","Production (1,000 lbs)"
0,Alabama,47.0,329.0
1,Arizona,49.0,1274.0
2,Arkansas,72.0,1728.0
3,California,30.0,8250.0
4,Colorado,51.0,1479.0
5,Florida,54.0,11880.0
6,Georgia,40.0,2760.0
7,Hawaii,102.0,1428.0
8,Idaho,32.0,2848.0
9,Illinois,51.0,408.0
10,NaN,NaN,NaN
11,Indiana,53.0,318.0
12,Iowa,50.0,1800.0
13,Kansas,36.0,288.0
14,Kentucky,46.0,230.0
15,Louisiana,99.0,4356.0
16,Maine,47.0,470.0
17,Michigan,58.0,5220.0
18,Minnesota,68.0,8296.0
19,Mississippi,83.0,1245.0
20,Missouri,52.0,520.0
21,NaN,NaN,NaN
22,Montana,83.0,12118.0
23,Nebraska,48.0,2736.0
24,New Jersey,27.0,324.0
25,New York,62.0,3596.0
26,North Carolina,45.0,540.0
27,North Dakota,74.0,36260.0
28,Ohio,50.0,850.0
29,Oregon,38.0,2698.0
30,Pennsylvania,53.0,901.0
31,South Carolina,67.0,938.0
32,NaN,NaN,NaN
33,South Dakota,66.0,19140.0
34,Tennessee,59.0,413.0
35,Texas,66.0,8316.0
36,Utah,42.0,1134.0
37,Vermont,52.0,260.0
38,Virginia,38.0,228.0
39,Washington,44.0,3212.0
40,West Virginia,35.0,175.0
41,Wisconsin,67.0,3484.0
42,Wyoming,77.0,2926.0
43,NaN,NaN,NaN
44,Other States 5/ 6/,39.0,1168.0
45,NaN,NaN,NaN
46,United States 6/ 7/,58.9,156544.0
47,NaN,NaN,NaN
48,1/ Honey producing colonies are the maximum nu...,NaN,NaN
49,2/ Stocks held by producers.,NaN,NaN
50,3/ Average price per pound based on expanded s...,NaN,NaN
51,4/ Value of production is equal to production ...,NaN,NaN
52,"5/ Alaska, Connecticut, Delaware, Maryland, Ma...",NaN,NaN
53,"6/ Due to rounding, total colonies multiplied ...",NaN,NaN
54,7/ United States value of production will not ...,NaN,NaN

In [7]:
Honey_3_2015=Honey_3_2015.set_index("State")
Honey_3_2015

,"Yield Per Colony (1,000 lbs)","Production (1,000 lbs)"
State,,
Alabama,47.0,329.0
Arizona,49.0,1274.0
Arkansas,72.0,1728.0
California,30.0,8250.0
Colorado,51.0,1479.0
Florida,54.0,11880.0
Georgia,40.0,2760.0
Hawaii,102.0,1428.0
Idaho,32.0,2848.0
Illinois,51.0,408.0
NaN,NaN,NaN
Indiana,53.0,318.0
Iowa,50.0,1800.0
Kansas,36.0,288.0
Kentucky,46.0,230.0
Louisiana,99.0,4356.0
Maine,47.0,470.0
Michigan,58.0,5220.0
Minnesota,68.0,8296.0
Mississippi,83.0,1245.0
Missouri,52.0,520.0
NaN,NaN,NaN
Montana,83.0,12118.0
Nebraska,48.0,2736.0
New Jersey,27.0,324.0
New York,62.0,3596.0
North Carolina,45.0,540.0
North Dakota,74.0,36260.0
Ohio,50.0,850.0
Oregon,38.0,2698.0
Pennsylvania,53.0,901.0
South Carolina,67.0,938.0
NaN,NaN,NaN
South Dakota,66.0,19140.0
Tennessee,59.0,413.0
Texas,66.0,8316.0
Utah,42.0,1134.0
Vermont,52.0,260.0
Virginia,38.0,228.0
Washington,44.0,3212.0
West Virginia,35.0,175.0
Wisconsin,67.0,3484.0
Wyoming,77.0,2926.0
NaN,NaN,NaN
Other States 5/ 6/,39.0,1168.0
NaN,NaN,NaN
United States 6/ 7/,58.9,156544.0
NaN,NaN,NaN
1/ Honey producing colonies are the maximum number of colonies from which honey was taken during the year. It is possible to take honey from colonies which did not survive the entire year.,NaN,NaN
2/ Stocks held by producers.,NaN,NaN
3/ Average price per pound based on expanded sales.,NaN,NaN
4/ Value of production is equal to production multiplied by average price per pound.,NaN,NaN
"5/ Alaska, Connecticut, Delaware, Maryland, Massachusetts, Nevada, New Hampshire, New Mexico, Oklahoma, and Rhode Island not published separately to avoid disclosing data for individual operations.",NaN,NaN
"6/ Due to rounding, total colonies multiplied by total yield may not exactly equal production.",NaN,NaN
7/ United States value of production will not equal summation of States.,NaN,NaN

In [8]:
Honey_3_2015.drop(Honey_3_2015.index[43:], inplace=True)
Honey_3_2015

                Yield Per Colony (1,000 lbs)  Production (1,000 lbs)
State
Alabama                                 47.0                   329.0
Arizona                                 49.0                  1274.0
Arkansas                                72.0                  1728.0
California                              30.0                  8250.0
Colorado                                51.0                  1479.0
Florida                                 54.0                 11880.0
Georgia                                 40.0                  2760.0
Hawaii                                 102.0                  1428.0
Idaho                                   32.0                  2848.0
Illinois                                51.0                   408.0
Indiana                                 53.0                   318.0
Iowa                                    50.0                  1800.0
Kansas                                  36.0                   288.0
Kentucky                                46.0                   230.0
Louisiana                               99.0                  4356.0
Maine                                   47.0                   470.0
Michigan                                58.0                  5220.0
Minnesota                               68.0                  8296.0
Mississippi                             83.0                  1245.0
Missouri                                52.0                   520.0
Montana                                 83.0                 12118.0
Nebraska                                48.0                  2736.0
New Jersey                              27.0                   324.0
New York                                62.0                  3596.0
North Carolina                          45.0                   540.0
North Dakota                            74.0                 36260.0
Ohio                                    50.0                   850.0
Oregon                                  38.0                  2698.0
Pennsylvania                            53.0                   901.0
South Carolina                          67.0                   938.0
South Dakota                            66.0                 19140.0
Tennessee                               59.0                   413.0
Texas                                   66.0                  8316.0
Utah                                    42.0                  1134.0
Vermont                                 52.0                   260.0
Virginia                                38.0                   228.0
Washington                              44.0                  3212.0
West Virginia                           35.0                   175.0
Wisconsin                               67.0                  3484.0
Wyoming                                 77.0                  2926.0

In [10]:
Honey_3_2015.to_csv('Resources/Honey_3_data.csv', header = True)